<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://erikflowers.github.io/weather-icons/css/weather-icons.css" rel="stylesheet">
	<link href="css/weatherstation.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="weatherApp" ng-controller="weatherController">
	<h1>{{weather.name}}</h1>
	  <div class="bg">
	    <i class="wi {{weatherIcon}}"></i>
	  </div>
	<h1>
	{{weather.main.temp.toFixed(0)}}&deg;
	<small>
	  ({{weather.main.temp_min}}&deg;/{{weather.main.temp_max}}&deg;)
	</small>

	</h1>      <p>
	    Solopgang: {{weather.sys.sunrise*1000 | date:'HH:mm'}}
	    </p>
	    <p>
	    Solnedgang: {{weather.sys.sunset*1000 | date:'HH:mm'}}
	    </p>  
	</div>



	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>

</body>
</html>